@font-face{
	font-family: 'blood';
	src: url('../fonts/BloodFont.ttf') format('truetype');
}
*{
	padding: 0px;
	margin: 0px;
	cursor: none;
	font-family: 'blood';
}
body{
	background-image: url(../imagens/fundoM.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
*::-webkit-scrollbar{

	display: none;
}
.mouse{
	z-index: 1;
	width: 4vw;
	height: auto;
	position: absolute;
	transition: all 0.05s;
	display: block;
}
.meio{
	border-radius: 20px;
	margin-top: 12vh;
	margin-left: 15vw;
	background-color: rgba(230, 230, 230, 0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	height: auto;
	width: 70vw;
}
.barra{
	margin-top: 1vh;
	width: 65vw;
	height: 4vh;
	background-color: rgba(228, 59, 59, 0.6);
	color: rgba(233, 216, 216, 1);
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-size: 90%;
}
.bt{
	border-radius: 20px;
	border: 0px;
	background-color: rgba(97, 23, 23, 0.4);
	color: rgba(245, 220, 220, 0.7);
	width: 4vw;
	height: 2.5vh;
}
.bt:hover{
	background-color: rgba(97, 23, 23, 0.8);
	color: rgb(245, 220, 220);
	width: 5vw;
	height: 3vh;
}
.bt:active{
	background-color: rgb(71, 12, 12);
	color: rgb(245, 220, 220);
	width: 3vw;
	height: 2vh;
}
.dp, .end, .con, .form, .imgs{
	margin-left: 2vw;
	border-radius: 0px 0px 30px 30px;
	background-color: rgba(233, 153, 153, 0.7);
	color: rgb(245, 220, 220);
	width: 60vw;
	height: 25vh;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.topo{
	margin-top: 3vh;
	margin-left: 38vw;
}
#logo{
	width: auto;
	height: 30vh;
}
#logo:hover{
	margin-top: -1vh;
	margin-left: -1vw;
	height: 33vh;
}
label{
	margin-left: 0vh;
	color: rgb(245, 220, 220);
	font-weight: bold;
	font-size: 80%;
}
.in{
	margin-bottom: 1vh;
	height: 4vh;
	border: 0;
	border-radius: 5px;
	background-color: rgba(138, 54, 54, 0.7);
	color: rgb(245, 220, 220);
	text-align: center;
	font-weight: bold;
}
.in::-webkit-input-placeholder{
    color: rgb(245, 220, 220);
    text-align: center;
	opacity: 40%;
	font-size: 80%;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#a{
	margin-top: 1vh;
	width: 12vw;
	height: 13vh;
}
#a::-webkit-input-placeholder{

	text-align: center;
}
.sus{
	display: flex;
	flex-direction: column;
	margin-left: 1vw;
}
input[type=checkbox] {
	position: relative;
	cursor: pointer;
	margin-bottom: 2vh;
}
input[type=checkbox]:before {
	content: "";
	border: 0;
	border-radius: 2px;
	display: block;
	width: auto;
	height: 2vh;
	top: 0;
	left: 0;
	background-color:#e9e9e9;
}
input[type=checkbox]:checked:before {
	content: "";
	display: block;
	border: 0;
	border-radius: 2px;
	width: auto;
	height: 2vh;
	top: 0;
	left: 0;
	background-color: rgba(138, 54, 54, 1);
}
input[type=checkbox]:checked:after {
	content: "";
	display: block;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 2px;
	left: 3px;
}
.bu{
	margin-left: 40vw;
	margin-top: 5vh;
	border: 0;
	border-radius: 40px;
	width: 20vw;
	height: 10vh;
	background-color: rgba(97, 23, 23, 1);
	color: rgba(245, 220, 220, 1);
	font-size: 5vh;
}
.bu:hover{
	background-color: rgba(70, 23, 23, 1);
	width: 25vw;
	height: 15vh;
	margin-left: 38vw;
}
.bu:active{
	background-color: rgba(70, 23, 23, 1);
	width: 15vw;
	height: 5vh;
	margin-left: 43vw;
	font-size: 3vh;
}