*{
	padding: 0px;
	margin: 0px;
}
body{
	background-image: url(../imagens/fundoM.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.topo{
	background-color: rgba(110, 73, 173, 0.2);
	width: 100vw;
	height: 15vh;
	display: flex;
	flex-direction: row;
}
.meio{
	border-radius: 20px;
	margin-top: 30vh;
	margin-left: 15vw;
	background-color: rgba(50, 23, 97, 0.50);
	display: flex;
	flex-direction: column;
	height: auto;
	width: 70vw;
}
.barra{
	margin-top: 1vh;
	width: 65vw;
	height: 3vh;
	background-color: rgba(110, 73, 173, 0.60);
	color: rgba(229, 220, 245, 0.70);
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-family: Comic Sans MS;
}
.bt{
	margin-top: 0.2vh;
	border-radius: 20px;
	border: 0px;
	background-color: rgba(50, 23, 97, 0.40);
	color: rgba(229, 220, 245, 0.70);
	width: 4vw;
	height: 2.5vh;
}
.bt:hover{
	margin-top: 0px;
	background-color: rgba(50, 23, 97, 0.80);
	color: rgba(229, 220, 245, 1.0);
	width: 5vw;
	height: 3vh;
}
.bt:active{
	margin-top: 0.5vh;
	background-color: rgb(34, 12, 71);
	color: rgba(229, 220, 245, 1.0);
	width: 3vw;
	height: 2vh;
}
.dp, .end, .con, .form{
	margin-left: 2vw;
	border-radius: 0px 0px 30px 30px;
	background-color: rgba(183, 153, 233, 0.7);
	color: rgb(229, 220, 245);
	width: 60vw;
	height: 20vh;
	display: none;
}
#logo{
	margin-top: 1.5vh;
	margin-left: 1vw;
	width: auto;
	height: 10vh;
}
.logo{
	border-radius: 80px;
	margin-top: 1vh;
	margin-left: 13vh;
	height: 13vh;
	width: 7vw;
	background-color: rgba(171, 72, 184, 0.582);
}
#title{
	margin-top: 2.5vh;
	margin-left: 30vw;
	color: rgba(229, 220, 245, 1);
	font-size: 6vh;
	font-family: Comic Sans MS;
}